<a href="https://colab.research.google.com/github/muhammed-sajid/Python/blob/main/56.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

data = pd.read_csv('train.csv')


#Group the Titanic dataset by gender and calculate the survival rate for each gender.
gender_survival_rate = data.groupby('Sex')['Survived'].mean() * 100
print("Survived Rate by Gender.")
print(gender_survival_rate)

Survived Rate by Gender.
Sex
female    74.203822
male      18.890815
Name: Survived, dtype: float64

In [9]:
#Find the average fare for each class of passengers

average_fare_by_class = data.groupby('Pclass')['Fare'].mean()
print("Average Fare by Class")
print(average_fare_by_class)

Average Fare by Class
Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64