<a href="https://colab.research.google.com/github/muhammed-sajid/Python/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Load Dataset**

In [2]:
import pandas as pd

df = pd.read_csv('train_and_test2.csv')
print(df.head())

   Passengerid   Age     Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0            1  22.0   7.2500    0      1     0       0       0       0
1            2  38.0  71.2833    1      1     0       0       0       0
2            3  26.0   7.9250    1      0     0       0       0       0
3            4  35.0  53.1000    1      1     0       0       0       0
4            5  35.0   8.0500    0      0     0       0       0       0

   zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  Embarked  \
0       0  ...        0        0        0       3        0        0       2.0
1       0  ...        0        0        0       1        0        0       0.0
2       0  ...        0        0        0       3        0        0       2.0
3       0  ...        0        0        0       1        0        0       2.0
4       0  ...        0        0        0       3        0        0       2.0

   zero.17  zero.18  2urvived
0        0        0         0
1        0        0         1
2        0        0         1
3        0        0         1
4        0        0         0

[5 rows x 28 columns]

**Print First 10 Rows**

In [4]:
print(df.head(10))

 print first 10 rows.
   Passengerid   Age     Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0            1  22.0   7.2500    0      1     0       0       0       0
1            2  38.0  71.2833    1      1     0       0       0       0
2            3  26.0   7.9250    1      0     0       0       0       0
3            4  35.0  53.1000    1      1     0       0       0       0
4            5  35.0   8.0500    0      0     0       0       0       0
5            6  28.0   8.4583    0      0     0       0       0       0
6            7  54.0  51.8625    0      0     0       0       0       0
7            8   2.0  21.0750    0      3     0       0       0       0
8            9  27.0  11.1333    1      0     0       0       0       0
9           10  14.0  30.0708    1      1     0       0       0       0

   zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  Embarked  \
0       0  ...        0        0        0       3        0        0       2.0
1       0  ...        0        0        0       1        0        0       0.0
2       0  ...        0        0        0       3        0        0       2.0
3       0  ...        0        0        0       1        0        0       2.0
4       0  ...        0        0        0       3        0        0       2.0
5       0  ...        0        0        0       3        0        0       1.0
6       0  ...        0        0        0       1        0        0       2.0
7       0  ...        0        0        0       3        0        0       2.0
8       0  ...        0        0        0       3        0        0       2.0
9       0  ...        0        0        0       2        0        0       0.0

   zero.17  zero.18  2urvived
0        0        0         0
1        0        0         1
2        0        0         1
3        0        0         1
4        0        0         0
5        0        0         0
6        0        0         0
7        0        0         0
8        0        0         1
9        0        0         1

[10 rows x 28 columns]

**Descriptive Statistics:**

In [3]:
print(df.describe())

 Descriptive Statistics:
       Passengerid          Age         Fare          Sex        sibsp  \
count  1309.000000  1309.000000  1309.000000  1309.000000  1309.000000
mean    655.000000    29.503186    33.281086     0.355997     0.498854
std     378.020061    12.905241    51.741500     0.478997     1.041658
min       1.000000     0.170000     0.000000     0.000000     0.000000
25%     328.000000    22.000000     7.895800     0.000000     0.000000
50%     655.000000    28.000000    14.454200     0.000000     0.000000
75%     982.000000    35.000000    31.275000     1.000000     1.000000
max    1309.000000    80.000000   512.329200     1.000000     8.000000

         zero  zero.1  zero.2  zero.3  zero.4  ...  zero.12  zero.13  zero.14  \
count  1309.0  1309.0  1309.0  1309.0  1309.0  ...   1309.0   1309.0   1309.0
mean      0.0     0.0     0.0     0.0     0.0  ...      0.0      0.0      0.0
std       0.0     0.0     0.0     0.0     0.0  ...      0.0      0.0      0.0
min       0.0     0.0     0.0     0.0     0.0  ...      0.0      0.0      0.0
25%       0.0     0.0     0.0     0.0     0.0  ...      0.0      0.0      0.0
50%       0.0     0.0     0.0     0.0     0.0  ...      0.0      0.0      0.0
75%       0.0     0.0     0.0     0.0     0.0  ...      0.0      0.0      0.0
max       0.0     0.0     0.0     0.0     0.0  ...      0.0      0.0      0.0

            Pclass  zero.15  zero.16     Embarked  zero.17  zero.18  \
count  1309.000000   1309.0   1309.0  1307.000000   1309.0   1309.0
mean      2.294882      0.0      0.0     1.492731      0.0      0.0
std       0.837836      0.0      0.0     0.814626      0.0      0.0
min       1.000000      0.0      0.0     0.000000      0.0      0.0
25%       2.000000      0.0      0.0     1.000000      0.0      0.0
50%       3.000000      0.0      0.0     2.000000      0.0      0.0
75%       3.000000      0.0      0.0     2.000000      0.0      0.0
max       3.000000      0.0      0.0     2.000000      0.0      0.0

          2urvived
count  1309.000000
mean      0.261268
std       0.439494
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000

[8 rows x 28 columns]

**Mean Age**

In [6]:
print(df['Age'].mean())

29.50318563789152

**Minimum Age**

In [7]:
print(df['Age'].min())

0.17

**Maximum Age**

In [8]:
print(df['Age'].max())

80.0

**Passanger older than 30**

In [9]:
old_passanger = df[df['Age'] > 30]
print(old_passanger.head(10))

    Passengerid   Age     Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
1             2  38.0  71.2833    1      1     0       0       0       0
3             4  35.0  53.1000    1      1     0       0       0       0
4             5  35.0   8.0500    0      0     0       0       0       0
6             7  54.0  51.8625    0      0     0       0       0       0
11           12  58.0  26.5500    1      0     0       0       0       0
13           14  39.0  31.2750    0      1     0       0       0       0
15           16  55.0  16.0000    1      0     0       0       0       0
18           19  31.0  18.0000    1      1     0       0       0       0
20           21  35.0  26.0000    0      0     0       0       0       0
21           22  34.0  13.0000    0      0     0       0       0       0

    zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  \
1        0  ...        0        0        0       1        0        0
3        0  ...        0        0        0       1        0        0
4        0  ...        0        0        0       3        0        0
6        0  ...        0        0        0       1        0        0
11       0  ...        0        0        0       1        0        0
13       0  ...        0        0        0       3        0        0
15       0  ...        0        0        0       2        0        0
18       0  ...        0        0        0       3        0        0
20       0  ...        0        0        0       2        0        0
21       0  ...        0        0        0       2        0        0

    Embarked  zero.17  zero.18  2urvived
1        0.0        0        0         1
3        2.0        0        0         1
4        2.0        0        0         0
6        2.0        0        0         0
11       2.0        0        0         1
13       2.0        0        0         0
15       2.0        0        0         1
18       2.0        0        0         0
20       2.0        0        0         0
21       2.0        0        0         1

[10 rows x 28 columns]